#mainContainer {
    /*-fx-background-radius: 30;*/
    /*-fx-border-radius: 30;*/
    /*-fx-background-insets: 20;*/
}

#btnPrev, #btnNext {
    -fx-background-color: none;
    -fx-opacity: 0.3;
}

#btnPrev:hover, #btnNext:hover {
    -fx-opacity: 1;
}

.btn {
    -fx-opacity: 0.6;
}

.btn:hover {
    -fx-opacity: 1;
}